In [1]:
#This notebook will be used for the capstone project

In [3]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_excel('/Users/dylan.kakkanad/Downloads/clustering_toronto.xlsx')
df

,Postal code,Borough,Neighborhood
0,M4N,Central Toronto,Lawrence Park
1,M4P,Central Toronto,Davisville North
2,M4R,Central Toronto,North Toronto West
3,M4S,Central Toronto,Davisville
4,M4T,Central Toronto,Moore Park / Summerhill East
...,...,...,...
98,M6C,York,Humewood-Cedarvale
99,M6E,York,Caledonia-Fairbanks
100,M6M,York,Del Ray / Mount Dennis / Keelsdale and Silvert...
101,M6N,York,Runnymede / The Junction North
102,M9N,York,Weston